body {
  margin: 0;
  background: #fcecd8;
}
.header-container {
  background-color: #597928;
  padding: 50px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  color: #fcecd8;
  font-size: 48px;
  padding: 0 0 0 10px;
  margin: 20px;
}
.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0 20px 0 0;
  font-size: 24px;
  margin: 0;
}
.navLink {
  text-decoration: none;
}
.logoff-btn {
  padding: 10px;
}
.link-btn{
  margin:10px;
  font-size:24px
}
.logOn-button {
  margin: 10px 35%;
  padding: 10px;
  font-size: 20px;
}
.not-found-links{
display:flex;
justify-content: center;
}
.not-found-error{
color:red;
font-size:48px;
text-align:center;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #597928;
  padding: 50px;
  margin: 5% 20%;
  border-radius: 10px;
}
.login-labels {
  padding: 5px 0;
  font-size: 30px;
  color: #fcecd8;
}
.input-field {
  padding: 10px;
  font-size: 20px;
}

.filter-container {
  padding: 10px;
  color: #6e3511;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.filter-text {
  font-size: 30px;
  padding: 20px 50px;
}
.filter-input {
  font-size: 24px;
  padding: 5px;
  border: solid 2px #597928;
  border-radius: 5px;
}
.filter-input:hover {
  background-color: rgb(215, 255, 227);
  cursor: pointer;
}
.search-todos {
  padding: 0px 10px 30px 10px;
  color: #6e3511;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid #597928;
}
.search-todos-input {
  text-align: center;
  padding: 10px 5px;
  margin-left: 5px;
  border: solid 2px #597928;
  border-radius: 5px;
}
.add-todo-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.add-todo-input {
  margin: 0 10px;
  padding: 10px;
  
}
.add-todo-text {
  font-size: 30px;
  color: #6e3511;
  padding-bottom:0px;
}

.todo-item {
  border: #597928 2px solid;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px;
  background: #f7f2eb;
  font-size: 24px;
}


.editing-container {
  display:flex;
  flex-direction: row;
}
.editing-input {
  font-size: 24px;
  padding: 5px;
}
.editing-btn {
  font-size:24px;
  padding:5px 10px;
  margin:5px;
}
.editing-btn:hover {
  background-color: rgb(215, 255, 227);
  cursor: pointer;
}

.empty-message{
  text-align:center;
  color:#2f4115;
  font-size: 24px;
}
.todo-inputField {
  padding: 20px;
  background-color: #597928;
}
.checkbox {
  transform: scale(2);
  margin: 0 15px;
}
.about {
  font-size: 24px;
  padding: 10px;
}
.profile{
  padding-left:20px;
  font-size: 24px;
}
.loading {
  font-size: 48px;
  text-align: center;
}
.list{
  list-style-type: none;
}
.error {
  color: red;
  text-align: center;
  font-size:24px;
}
.auth-error {
  color: rgb(255, 156, 156);
  text-align: center;
  font-size:30px;
}
.validation-error{
  color: rgb(255, 156, 156);
  font-size:30px;
}
.error-btn {
  text-align: center;
  font-size: 20px;
  padding:20px;
}

@media only screen and (max-width: 600px) {
  .navList {
    flex-direction: column;
    
  }
  .filter-container {
    flex-direction: column;
  }
  .editing-input {
  font-size: 24px;
  padding: 5px;
}
}
