body {
  margin: 0;
  background: #8b9a6e;
  font-size: 16px;
}
.header-container {
  background-color: #fcecd8;
  padding: 24px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #597928;
}
.header {
  color: #597928;
  font-size: 30px;
  padding: 0 0 0 10px;
  margin: 20px;
}
.navList {
  list-style: none;
  display: flex;
  font-size: 24px;
  margin: 20px;
}
.btn {
  font-size: 24px;
  color: #597928;
  padding: 1em;
  margin: 1em 30%;
  background-color: #eae2d6;
  border-radius: 20px;
  border: 1px solid #597928;
}
.btn:hover {
  color: #eeeeee;
  cursor: pointer;
  background-color: #8b9a6e;
  border: 1px solid #74805c;
}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fcecd8;
  padding: 3rem;
  margin: 5em 25%;
  border: 1px solid #597928;
  border-radius: 10px;
}

.logOff-btn {
  font-size: 20px;
  color: #597928;
  margin: 20px;
  padding: 1em 2em;
  background-color: #eae2d6;
  border-radius: 20px;
  border: 1px solid #597928;
}
.logOff-btn:hover {
  color: #eeeeee;
  cursor: pointer;
  margin-right: 15px;
  background-color: #8b9a6e;
  border-radius: 20px;
  border: 1px solid #74805c;
}
.labels {
  font-size: 30px;
  color: #8b9a6e;
}
.input-field {
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  border-radius: 7px;
}

.filter-container {
  padding: 1em;
  color: #6e3511;
  margin: 1em auto;
  background: white;
  border-radius: 15px;
  width: fit-content;
}
.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap;
}
.filters-text {
  font-size: 24px;
  color: #6e3511;
  margin-right: 10px;
}
.filters-input {
  font-size: 24px;
  color: #597928;
  padding: 5px;
  margin: 10px 5px;
  background-color: #eae2d6;
  border-radius: 10px;
  border: 1px solid #597928;
}
.filters-input:hover {
  cursor: pointer;
  background-color: #cac4b8;
}
.add-todo-container {
  background-color: white;
  border-radius: 15px;
  border: 1px solid #597928;
  margin: 1rem;
}
.add-todo {
  padding: 10px;
  color: red;
  text-align: center;
}
.add-todo-text {
  font-size: 30px;
  color: #6e3511;
}

.user-input {
  padding: 10px auto;
}

.todo-item {
  border: #597928 2px solid;
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px;
  background: #f7f2eb;
  font-size: 24px;
}
.editing-container {
  display: flex;
  flex-direction: row;
  
}
.editing-input {
  font-size: 24px;
  padding: 5px;
  border-radius: 15px;
  color: #6e3511;
  
}
.list-text {
  color: #6e3511;
}
.empty-message {
  text-align: center;
  color: #2f4115;
  font-size: 24px;
}
.todo-inputField {
  padding: 20px;
  background-color: #597928;
}
.checkbox {
  transform: scale(2);
  margin: 0 15px;
}
.about-container {
  color: #597928;
  font-size: 24px;
  padding: 10px;
  margin: 20px;
  background-color: #eae2d6;
  border-radius: 15px;
}
.profile-container {
  color: #597928;
  font-size: 24px;
  padding: 10px;
  margin: 20px;
  background-color: #eae2d6;
  border-radius: 15px;
}
.loading {
  font-size: 48px;
  text-align: center;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-text{
  border-width:0;
  background-color: inherit;
  font-size:inherit;
}
.error {
  color: red;
  font-size: 24px;
  padding: 1em;
}
.error-btn {
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin: 0 5px;
  border: #2f4115 2px solid;
  border-radius: 5px;
}
.error-btn:hover {
  background-color: rgb(215, 255, 227);
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .header {
    font-size: 36px;
  }
  .navList {
    flex-direction: column;
  }
  .filter-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
  }
  .editing-input {
    font-size: 24px;
    padding: 5px;
  }
  .editing-container {
    display: flex;
    flex-direction: column;
  }
  .editing-input {
    padding: 10px 0;
    font-size: 24px;
  }
  .login-container {
    margin: 5em;
  }
}
